*{
    padding: 0 ;
    margin: 0 ;
    font-family: "標楷體";
}
.top-btn{
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.404);
    border:1px rgb(114, 114, 114) solid;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: -100px;
    z-index: 20;
    cursor: pointer;
}
.top-btn img{
    width: 70px;
    height: auto;
}
.fixed-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(57, 160, 201);
    position: relative;
    cursor: pointer;
    transition: height 1s;
}
.fixed{
    position: fixed;
    top:0;
    height: 60px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.445);
    z-index: 20;
}
.fixed-bar span{
    line-height: 50px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bolder;
}
.fixed-bar ul{
    display: flex;
    float: right;
    list-style: none;
    margin-right: 20px;
}
.fixed-bar li{
    height: 50px;
    padding:0 20px;
    line-height: 50px;
    width: 150px;
    color:rgba(247, 199, 67, 0.746);
    transition: font-size 1s,color 1s;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
.fixed-bar li:hover{
    font-size: 25px;
    color: rgb(235, 66, 24);
}
.rwd-btn{
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top:0px;
    right: 0px;
    border: 1px black solid;
    border-radius: 10px;
    margin-top:5px;
    margin-right:10px;
}
.rwd-btn img{
    width: 40px;
    height: auto;
}
.drop-menu{
    display: none;
    position: relative;
    z-index: 1;
}
.drop-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: rgb(57, 160, 201);
    margin:0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.445);
}
.drop-menu li{
    padding:10px;
    width: 100%;
    color:rgba(247, 199, 67, 0.746);
    transition: color 1s;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}
.drop-menu li:hover{
    color: rgb(235, 66, 24);
}
.content{
    width: 980px;
    margin: 0 auto;
    
}
.content>div{
    box-shadow: 5px 5px 10px rgba(53, 6, 6, 0.555);
    padding-top: 50px;
    text-align: center;
}
.content>div>div{
    padding: 30px;
    display:flex;
    align-items:center;  
}
.content>div>div h2{
    margin: 0 40px;
}
#about-me img{
    width: 300px;
    height: auto;
    margin:0 40px;
}
#about-me ul{
    list-style: none;
    margin:0 40px;
}
#about-me ul li{
    font-size: 25px;
}
#skills{
    background-image: url("images/skill_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:rgb(255, 255, 255);
}
.skills-box ul{
    margin-left: 60px;
}
.skills-box ul li{
    font-size: 18px;
    height: 30px;
    margin:10px;
    position: relative;
}
.skills-box ul li>div{
    position: absolute;
    top:0;
    left: 250px;
    width: 300px;
    height: 32px;
    background-color: rgb(94, 94, 94);
    border: 1px rgb(0, 0, 0) solid;
}
.skills-box ul li>div>div{
    width: 0px;
    height: 30px;
    background-color: rgb(78, 78, 151);
    line-height: 30px;
    text-align: center;
}
.works-box{
    position: relative;
    list-style: none;
}
.works-img{
    margin:10px;
}
.works-box li{
    display: flex;
}
.works-box li a img{
    width: 300px;
    height: 168px;
}
.arrow_box ul{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.arrow_box ul li{
    margin: 5px;
    list-style: none;
    font-size: 18px;
    display: inline;
}
.arrow_box {
    height: 168px;
	position: relative;
	background: #ffffff;
    border: 3px solid #831717;
    margin:10px 0 10px 30px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(170, 151, 213, 0);
	border-right-color: #ffffff;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #831717;
	border-width: 34px;
	margin-top: -34px;
}
#contact{
    background-image: url("images/contact_bg.jpg");
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.contact-myself{
    margin-left: 10px;
}
.contact-myself img{
    width: 300px;
    height: auto;
    border-radius: 50px;
    border: 2px rgb(180, 235, 79) dotted;
}
.contact-box ul{
    margin-left:40px;
    text-align: left;
    font-size: 25px;
}
.footer{
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(9, 16, 29);
    color:white;
    line-height: 60px;
}

@media screen and (max-width:991px){
    .content{
        width: 768px;
    }
    .content>div>div{
        flex-direction:column;
    }
    #about-me ul li{
        font-size: 20px;
    }
    .skills-box ul{
        margin: 30px 0 0 0;
    }
    .skills-box ul li{
        margin-bottom: 40px;
        list-style: none;
    }
    .skills-box ul li>div{
        position: relative;
        top:0;
        left: 0;
    }
    .works-img{
        margin:0;
    }
    .works-box li a img{
        width: 500px;
        height: auto;
    }
    .works-box-one{
        position: absolute;
        width: 322px;
        top:80px;
        left: 0px; 
        right: 0px;
        margin:auto;
        z-index: 1;
    }
    .works-box li{
        flex-direction: column;   
    }
   
    .arrow_box{
        height: auto;
        margin: 40px;
        padding: 10px;
    }
    .arrow_box ul{
        width: 350px;
    }
    .arrow_box ul li{
        margin: 10px;
        list-style: none;
        font-size: 18px;
    }
    .arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        top:-34px;
    }
    .arrow_box:after {
        border-bottom-color: #ffffff;
        border-width: 34px;
        margin-left: -34px;
    }
    .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #831717;
        border-width: 34px;
        margin-left: -34px;
    }
    .contact-myself{
        margin:0;
    }
    .contact-box ul{
        margin:0;
        font-size: 20px;
    }
}
@media screen and (max-width:768px){
    .content{
        width: 576px;
    }
}
@media screen and (max-width:576px){
    .arrow_box ul{
        width: 300px;
    }
    .works-box li a img{
        width: 350px;
        height: auto;
    }
    .content{
        width: 100%;
    }
    .fixed-bar span{
        font-size:20px;
    }
    .footer{
        font-size: 20px;
    }
}
.scroll{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.493);
    color:rgb(115, 255, 0);
    position: fixed;
    z-index: 50;
    top:0;
    left: 0;
}
#about-me{
    visibility: hidden;
}
#skills{
    visibility: hidden;
}
#works{
    visibility: hidden;
}
#contact{
    visibility: hidden;
}
.window-val{
    width: 300px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    position: fixed;
    z-index: 30;
    top:50px;
    left: 50px;
    font-size: 20px;
}
